<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>reservation</servlet-name>
        <servlet-class>controller_staff.reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterreservation</servlet-name>
        <servlet-class>controller_staff.filterreservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchreservation</servlet-name>
        <servlet-class>controller_staff.searchreservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reservation</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterreservation</servlet-name>
        <url-pattern>/filterreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchreservation</servlet-name>
        <url-pattern>/searchreservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
